* {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: -65px;
    left: -10px;
    background-image: url("background.png");
    z-index: -1;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    height: 120%;
    width: 100%;
    opacity: 0.95;
}

.navbar {
    position: sticky;
    top: 35px;
    left: 0px;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 40px;
}

.navbar a {
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1000;
    color: white;
}

.navbar a:hover {
    color: rgb(255, 115, 0);
}

.navbar img {
    width: 35px;
    height: 35px;
}

.navbar input {
    border: 1px solid rgb(255, 115, 0);
    width: 160px;
    height: 34px;
    /* background-color: rgb(25, 25, 33); */
    border-radius: 5px;
    opacity: 1;
    background: transparent;
}

.search {
    display: flex;
    border: 1px solid rgb(255, 207, 117);
    background-color: rgb(255, 115, 0);
    color: rgb(255, 229, 156);
    width: 80px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#a {
    color: rgb(255, 115, 0);
    font-size: 2rem;
    position: relative;
    top: -28px;
    left: 20px;

}

#b {
    position: relative;
    bottom: 28px;
    right: 10px;
}

#c {
    position: relative;
    bottom: 20px;
    left: 12px;
    color: white;
    font-size: 1rem;
}

.search {
    position: relative;
    bottom: 20px;
    right: 20px;
}

.content h1 {
    font-size: 3rem;
    color: white;
    margin-left: 60px;
}

#heading {
    font-size: 4rem;
    color: rgb(255, 115, 0);
}

.content p {
    color: white;
    padding: 5px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 1.2rem;
}

.content h3 {
    color: black;
    /* padding: 5px; */
    margin-left: 60px;
    /* font-weight: bold; */
    font-size: 1.3rem;
    border: 1px solid orange;
    background-color: rgb(255, 115, 0);
    width: 100px;
    text-align: center;
    padding: 7px 30px;
    border-radius: 10px;
}

.box {
    position: absolute;
    top: 150px;
    right: 55px;
    /* height: 350px; */
    border: 2px solid black;
    color: white;
    /* background-color: black; */
    border-radius: 10px;
    width: 305px;
    padding-top: 30px;
}

.box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

.here {
    border: 2px solid white;
    color: rgb(230, 148, 15);
    width: 250px;
    background-color: white;
    text-align: center;
    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

#login:hover{
    background-color: rgb(255, 172, 77);
}
.box font:hover{
    color: rgb(255, 196, 128);
}
.img a{
    width: 25px;
    height: 25px;
    padding: 5px;
}
.img a:hover{
   background-color: rgb(79, 79, 79);
}
.content h3:hover{
    background-color: rgb(255, 172, 77);
}
.box input {
    background: transparent;
    color: white;
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(255, 115, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    padding: 10px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 5px; */
}

.box input::placeholder {
    color: white;
    font-size: 1.1rem;
    opacity: 0.8;
}

#login {
    background-color: rgb(255, 115, 0);
    color: black;
    border: 1px solid rgb(218, 178, 77);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.box p {
    text-align: center;
    font-size: 1.2rem;
}

.f {
    background-color: rgb(28, 26, 26);
    font-size: 1rem;
    margin-top: 20px;
    /* margin-right: 100px; */
    height: 80px;
    width: 310px;
}

.img {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.img img {
    width: 30px;
    height: 30px;
}

#q {
    width: 40px;
    height: 35px;
}

#r {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

#t {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

#s {
    width: 40px;
    height: 40px;
}

.small {
    font-size: 1.09rem;
    padding-top: 5px;
}

.img ion-icon {
    color: white;
}